:root {
    --light-green: rgb(228, 252, 252);
}

/* ANCHOR general styling */
body {
    max-width: 100vw;
    background-color: var(--light-green);
}

h3 {
    padding-top: 20px;
    padding-left: 15px;
    position: absolute;
}

ul {
    list-style-type: none;
}

a {
    color: var(--light-green);
}

a:hover {
    color: darkcyan;
}

.info-block {
    height: 50vh;
}

/* ANCHOR landing */
#landing {
    height: 100vh;
    /* Photo credit: @michaelcopley03 at unsplash.com */
    background-image: url('../images/photo-1601205038495-deda8ea1c102.jpeg');
    background-size: cover;
    background-position: center;
    color: var(--light-green);
    margin-bottom: 0;
}

/* ANCHOR about */
.about-content {
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0 10vw;
}

#dev-pic {
    border-radius: 50%;
    max-width: 25vw;
}


/* ANCHOR projects */

#projectCarousel {
    background-color: black;
    color: var(--light-green);
    position: relative;
}

.carousel-item {
    height: 50vh;
}

.carousel-content {
    height: inherit;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 5vw;
}

.project-img {
    max-height: 65%;
    border: 10px inset lightcyan;
}

.carousel-text {
    height: inherit;
    width: 50%;
    text-align: center;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.project-links {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

/* ANCHOR skills */
#skills-container {
    height: inherit;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5px;
    padding: 0 5vw;
}

.skill-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill-wrapper:hover .skill-name {
    display: block;
}

.skill-icon {
    font-size: 5rem;
    color: darkcyan;
}

.skill-name {
    display: none;
}

/* ANCHOR FOOTER */
footer {
    background-color: black;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--light-green);
}

.link-container {
    height: inherit;
    font-size: 2rem;
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#resume {
    margin-top: 10px;
    font-weight: bold;
}


/* ANCHOR media queries */

@media only screen and (max-width: 1100px) {
    a {
        color: darkcyan;
    }

    h3 {
        padding-top: 5px;
    }

    .project-img {
        max-width: 45%;
    }

    .skill-icon {
        font-size: 3rem;
    }
}

@media only screen and (max-width: 600px) {
    .carousel-text {
        width: 100%;
        justify-content: center;
    }

    .project-img {
        display: none;
    }

    #skills-container {
        padding: 10vh 0;
    }
}