:root {
    --light-green: rgb(197, 247, 247);
}

/* ANCHOR general styling */
body {
    font-family: 'Montserrat', sans-serif;
    max-width: 100vw;
    background-color: var(--light-green);
}

h1, h3 {
    font-family: 'Montserrat Subrayada', sans-serif;
}

h3 {
    padding-top: 20px;
    margin-left: 10vw;
    position: absolute;
}

ul {
    list-style-type: none;
}

a {
    color: var(--light-green);
}

a:hover {
    color: darkcyan;
}

.info-block {
    position: relative;
}

/* ANCHOR landing */
#landing {
    height: 100vh;
    background-image: url('../images/background.jpg');
    background-size: cover;
    color: var(--light-green);
    margin-bottom: 0;
}

.name {
    margin-bottom: .1rem;
}

.lead {
    margin-top: .2rem;
}

.fa-sync-alt {
    margin: 0 5px;
    font-size: .9rem;
}

.fa-sync-alt:hover {
    color: darkcyan;
}

/* ANCHOR about */
#about {
    height: 50vh;
}

.about-content {
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0 10vw;
}

.about-text {
    margin-left: 5vw;
}

#dev-pic {
    border-radius: 50%;
    max-width: 20vw;
}


/* ANCHOR projects */
#projects {
    height: 75vh;
    background-color: black;
    color: var(--light-green);
}

#projectCarousel {
    height: 75vh;
    position: relative;
}

.carousel-content {
    height: 75vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 10vw;
}

.project-img {
    max-height: 50%;
    border: 10px inset lightcyan;
}

.carousel-text {
    position: relative;
    height: inherit;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 5vw;
}

.project-title {
    position: absolute;
    top: 15%;
}

.carousel-text small {
    font-weight: bold;
}

.project-links {
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 15%;
}

/* ANCHOR skills */
#skills {
    height: 25vh;
}

#skills-container {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 5vw;
}

.skill-row {
    min-width: 45vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.skill-name {
    text-align: center;
}

.skill-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill-wrapper:hover .skill-icon {
    transform: translateY(-15px);
}

.skill-wrapper:hover .skill-name {
    display: block;
}

.skill-icon {
    font-size: 3rem;
}

.skill-name {
    position: absolute;
    bottom: -5px;
    display: none;
}

/* ANCHOR contact */
#contact {
    position: relative;
    background-color: black;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--light-green);
}

.contact-title {
    align-self: flex-start;
    top: 0;
}

.link-container {
    height: inherit;
    font-size: 2rem;
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.legal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#resume {
    padding-bottom: 15px;
    font-weight: bold;
}


/* ANCHOR media queries */

@media only screen and (max-width: 1100px) {
    a {
        color: darkcyan;
    }

    h3 {
        padding-top: 5vh;
        font-size: 1rem;
    }

    .carousel-content {
        flex-direction: column;
    }

    .project-img {
        max-height: 25%;
        position: absolute;
        top: 7vh;
    }
    .carousel-text {
        width: 100%;
        margin-top: 20%;
    }

    .project-title {
        position: static;
        font-size: 1rem;
    }

    .project-links {
        bottom: 5vh;
    }

    .skill-icon {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 600px) {
    h3 {
        padding-top: 2vh;
    }

    .about-content {
        flex-direction: column;
        justify-content: space-evenly;
        position: relative;
    }

    .about-text {
        font-size: .8rem;
        margin-right: 0;
    }

    #projects, #projectCarousel, .carousel-item {
        height: 100vh;
    }

    .project-img {
        max-height: 15%;
        border: none;
    }

    .carousel-text {
        width: 95%;
        font-size: 85%;
        margin-top: 40vh;
    }

    .project-links {
        bottom: -7vh;
        text-align: center;
    }

    #skills-container {
        padding: 4vh 0;
        justify-content: space-around;
    }

    #frontend-skills, #backend-skills {
        min-width: 65vw;
    }

    .link-container {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 330px) {
    .about-text {
        font-size: .7rem;
    }

    .project-img {
        display: none;
    }

    .project-title {
        text-align: center;
    }

    .carousel-text {
        margin-top: 20vh;
    }

    .project-links {
        bottom: -10vh;
    }

    .skill-icon {
        font-size: 1.5rem;
    }

    .link-container {
        font-size: 1rem;
    }

    #resume {
        font-weight: normal;
    }
}