@media only screen and (max-width: 1100px) {
    a {
        color: darkcyan;
    }

    h3 {
        padding-top: 5vh;
        font-size: 1rem;
    }

    .carousel-content {
        flex-direction: column;
    }

    .project-img {
        max-height: 25%;
        position: absolute;
        top: 7vh;
    }

    .carousel-text {
        width: 100%;
        margin-top: 20%;
    }

    .project-title {
        position: static;
        font-size: 1rem;
    }

    .project-links {
        bottom: 5vh;
    }

    .skill-icon {
        font-size: 2rem;
    }
}


@media only screen and (max-width: 600px) {
    h3 {
        padding-top: 2vh;
    }

    .about-content {
        flex-direction: column;
        justify-content: space-evenly;
        position: relative;
    }

    .about-text {
        font-size: .8rem;
        margin-right: 0;
    }

    #projects, #projectCarousel, .carousel-item {
        height: 100vh;
    }

    .project-img {
        max-height: 15%;
        border: none;
    }

    .carousel-text {
        width: 95%;
        font-size: 85%;
        margin-top: 40vh;
    }

    .project-links {
        bottom: -7vh;
        text-align: center;
    }

    #skills-container {
        padding: 4vh 0;
        justify-content: space-around;
    }

    #frontend-skills, #backend-skills {
        min-width: 65vw;
    }

    .link-container {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 330px) {
    .about-text {
        font-size: .7rem;
    }

    .project-img {
        display: none;
    }

    .project-title {
        text-align: center;
    }

    .carousel-text {
        margin-top: 20vh;
    }

    .project-links {
        bottom: -10vh;
    }

    .skill-icon {
        font-size: 1.5rem;
    }

    .link-container {
        font-size: 1rem;
    }

    #resume {
        font-weight: normal;
    }
}