.nav-container {
    position: fixed;
    right: 5vw;
    top: 5vh;
}

.menu {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: darkcyan;
    border: 15px ridge rgb(3, 88, 88);
    z-index: 1;
    transform: rotate(90deg);
}

.menu-overlay {
    position: fixed;
    right: 5vw;
    top: 5vh;
    /* z-index: 2; */
    /* border: 1px solid black; */
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    transition: all .5s;
}

.menu:hover {
    cursor: pointer;
}

.half-circle {
    position: absolute;
    z-index: -1;
    height: 0;
    width: 0;
    left: 50%;
    top: -75%; 
    border-color: rgb(3, 88, 88);
    border-width: 75px;
    border-left: 0;
    border-style: solid;
    border-radius: 0 7.5em 7.5em 0;
    /* display: none; */
    transition: .5s;
    transform-origin: 0 center;
    transform: rotate(135deg);
}

.open {
    animation: menu-spin .5s;
}

.bloom {
    transform: scale(2.5, 2.5);
}

@keyframes menu-spin {
    100% {
        transform: rotate(495deg);
    }
}



/* a {
    display: none;
} */

.show {
    display: block;
}

.menu a {
    font-size: .9rem;
    position: absolute;
    color: gainsboro;
    transform: rotate(-90deg);
}

.menu a:nth-child(1) {
    top: 200%;
    right: 95%;
}

.menu a:nth-child(2) {
    top: 190%;
    right: -25%;
}

.menu a:nth-child(3) {
    top: 145%;
    right: -125%;
}

.menu a:nth-child(4) {
    top: 15%;
    right: -230%;
}